<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:fragment="taskInfoForm" method="post" class="container">
        <div class="input-group">
                <select class="form-control" name="name" required>
                    <option th:each="taskInfo:${allowedTaskNames}" th:value="${taskInfo}" th:text="${taskInfo}">
                    </option>
                </select>
                <select class="form-control" name="type" required>
                    <option th:value="${T(com.executor.workflowExecutor.components.utility.Status).NORMAL}">Normal</option>
                    <option th:value="${T(com.executor.workflowExecutor.components.utility.Status).TIMED_WAIT}">Timed Wait</option>
                    <option th:value="${T(com.executor.workflowExecutor.components.utility.Status).TRIGGER_WAIT}">Trigger Wait</option>
                </select>
        </div>
            <button type="submit" class="btn btn-primary my-3">Submit</button>
    </form>

    <form th:fragment="taskDependencyForm" class="container" method="post"  th:object="${taskDependencyDTO}">
        <div class="input-group">
            <input th:field="*{fromTask}" type="number" class="form-control" placeholder="FROM TASK(int)" required/>

            <input th:field="*{output}" type="text" class="form-control" placeholder="OUTPUT" required/>

            <input th:field="*{toTask}" type="number" class="form-control" placeholder="TO TASK(int)" required/>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>