<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:fragment="taskInfoInputForm (availableTaskNames,inputTaskInfo)" method="post" class="container" th:object="${inputTaskInfo}">
        <div class="input-group">
                <select th:field="*{name}" class="form-control" required>
                    <option th:each="taskName:${availableTaskNames}" th:value="${taskName}" th:text="${taskName}">
                    </option>
                </select>
                <select class="form-control" th:field="*{type}" required>
                    <option th:value="${T(com.executor.workflowExecutor.components.utility.Status).NORMAL}">Normal</option>
                    <option th:value="${T(com.executor.workflowExecutor.components.utility.Status).TIME_WAIT}">Timed Wait</option>
                    <option th:value="${T(com.executor.workflowExecutor.components.utility.Status).TRIGGER_WAIT}">Trigger Wait</option>
                </select>
        </div>
            <button type="submit" class="btn btn-primary my-3">Submit</button>
    </form>

    <form th:fragment="taskDependencyForm(taskDependencyDTO)" class="container" method="post"  th:object="${taskDependencyDTO}">
        <div class="input-group">
            <input th:field="*{fromTask}" type="number" class="form-control" placeholder="FROM TASK(int)" required/>

            <input th:field="*{output}" type="text" class="form-control" placeholder="OUTPUT" required/>

            <input th:field="*{toTask}" type="number" class="form-control" placeholder="TO TASK(int)" required/>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>