<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:fragment="taskNameForm" class="container" method="post">
        <select class="form-control" name="name">
            <option th:each="taskName:${allowedTaskNames}" th:value="${taskName}" th:text="${taskName}">
            </option>
        </select>
        <button type="submit btn btn-primary">Submit</button>
    </form>

    <form th:fragment="taskDependencyForm" class="container" method="post"  th:object="${taskDependencyDTO}">
        <div class="input-group">
            <input th:field="*{fromTask}" type="number" class="form-control" placeholder="FROM TASK(int)" required/>

            <input th:field="*{output}" type="text" class="form-control" placeholder="OUTPUT" required/>

            <input th:field="*{toTask}" type="number" class="form-control" placeholder="TO TASK(int)" required/>

        </div>
        <button type="submit">Submit</button>
    </form>

</body>
</html>