<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>

    <div th:replace="fragments/common :: header"></div>
    <div th:replace="fragments/form::taskDependencyForm(${taskDependencyDTO})"></div>


    <div class="container text-white text-center">
        <div class="row">
            <div class="col col-sm-2 p-3 m-2 bg-primary">ID</div>
            <div class="col col-sm-2 p-3 m-2 bg-primary">FROM TASK</div>
            <div class="col col-sm-2 p-3 m-2 bg-primary">OUTPUT</div>
            <div class="col col-sm-2 p-3 m-2 bg-primary">TO TASK</div>
        </div>
        <div class="row" th:each="dependency: ${allDependencies}">
            <div class="col col-sm-2 p-3 m-2 bg-info" th:text="${dependency.id}"></div>
            <div class="col col-sm-2 p-3 m-2 bg-info" th:text="${dependency.fromTask.id}"></div>
            <div class="col col-sm-2 p-3 m-2 bg-info" th:text="${dependency.output}"></div>
            <div class="col col-sm-2 p-3 m-2 bg-info" th:text="${dependency.toTask.id}"></div>
            <a class="col col-sm-1 p-3 m-2 bg-warning text-decoration-none" th:href="@{'/editDependency/'+${dependency.id}}">Edit</a>
        </div>
    </div>

    <div th:replace="fragments/common:: footer"></div>
</body>
</html>