<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <META HTTP-EQUIV="refresh" CONTENT="10">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
</head>
<body>
    <div th:replace="fragments/common :: header"></div>

    <div class="container">

            <div class="row justify-content-center">
                <a class="p-3 m-2 bg-secondary text-white text-decoration-none" href="/allNames">Task Names</a>
                <a class="p-3 m-2 bg-secondary text-white text-decoration-none" href="/allDependencies">Task Dependencies</a>
             </div>


            <form method="post">
                <div class="form-row justify-content-center">
                    <div class="col-6">
                        <input name="name" type="text" class="form-control" id="wfName" placeholder="workflow name" required>
                    </div>
                    <button type="submit" class="btn btn-success">Execute</button>
                </div>

            </form>

        <form class="my-4">
            <div class="form-row justify-content-end">
                <input class="col-3 form-control" name="searchWorkflow" type="text" placeholder="search"/>
                <button type="submit p-2" class="btn btn-success"><i class="fas fa-search-plus"></i></button>
            </div>
        </form>

        <button class="btn btn-secondary" onClick="window.location.reload();"><i class="fas fa-sync-alt"></i></button>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr  th:each="workflow,status : ${savedWorkflows}">
                    <th scope="row" th:text="${status.count}">#</th>
                    <td th:text="${workflow.name}"></td>
                    <td th:switch="${workflow.status}">
                        <strong th:case="${T(com.xor.taskExecutor.util.Status).Waiting}" th:text="Waiting" class="text-warning"></strong>
                        <strong th:case="${T(com.xor.taskExecutor.util.Status).Success}" th:text="Success" class="text-success"></strong>
                        <strong th:case="${T(com.xor.taskExecutor.util.Status).Failed}" th:text="Failed" class="text-danger"></strong>
                    </td>
                    <td><a class="text-decoration-none" th:href="@{'/workflow/'+${workflow.name}}">link</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div th:replace="fragments/common:: footer"></div>
</body>
</html>