<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
</head>
<body>
    <div th:replace="fragments/common :: header"></div>

    <div class="container">
        <div class="row justify-content-center">
            <a class="p-3 m-2 bg-secondary text-white text-decoration-none" href="/allNames">Task Names</a>
            <a class="p-3 m-2 bg-secondary text-white text-decoration-none" href="/allDependencies">Task Dependencies</a>
      </div>
    </div>

    <form method="post">
        <div class="form-row justify-content-center">
            <div class="col-6">
                <input name="name" type="text" class="form-control" id="wfName" placeholder="workflow name" required>
            </div>
            <button type="submit" class="btn btn-success">Execute</button>
        </div>

    </form>

    <table class="table container justify-content-center">
        <tbody>
            <tr class="row" th:each="workflow,status : ${savedWorkflows}">
                <td class="col-3" th:text="${status.count}"></td>
                <td class="col-3" th:text="${workflow.name}"></td>
                <td class="col-3" th:switch="${#strings.toString(workflow.status)}">
                    <div th:case="Waiting"><i class="fas fa-circle text-warning"></i></div>
                    <div th:case="Success"><i class="fas fa-circle text-success"></i></div>
                    <div th:case="Failed"><i class="fas fa-circle text-danger"></i></div>
                </td>
                <td class="col-3"><a class="text-decoration-none" th:href="@{'/workflow/'+${workflow.name}}">link</a></td>
            </tr>
        </tbody>
    </table>


    <div th:replace="fragments/common:: footer"></div>
</body>
</html>