<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
                                  href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div th:replace="fragments/common :: header"></div>

    <div th:switch="${workflow.status}" class="container text-center">

<!--        Task Waiting Stage-->
        <div  th:case="${T(com.executor.workflowExecutor.components.utility.Status).Waiting}" class="display-3">
            Please Wait for the execution to complete...
        </div>

        <div th:case="*">
            <h1 th:text="${workflowName}" class="m-3 text-left"></h1>
            <table class="table table-sm">
                <tbody>
                    <div th:each="result : ${formattedResult}" th:switch="${resultStat.count==resultStat.size}">
<!--                        handle last row-->
                            <tr th:case="true" th:classappend="(${result.getRight()} =='E') ? bg-danger : bg-success">
                                <td>
                                    <span th:text="${result.getLeft().toLocalDate()}"/><br/>
                                    <span th:text="${result.getLeft().toLocalTime()}"/>
                                </td>
                                <td th:text="${result.getMiddle()}"></td>
                                <td th:text="(${result.getRight()} =='E') ?'Caught Exception': 'Successful' "></td>
                            </tr>

<!--                            handle rows before last row-->
                            <div th:case="false">
                                <tr class="table-success">
                                    <td>
                                        <span th:text="${result.getLeft().toLocalDate()}"/><br/>
                                        <span th:text="${result.getLeft().toLocalTime()}"/>
                                    </td>
                                    <td th:text="'Task '+${result.getMiddle()}+' Executed'"></td>
                                    <td th:text="'Output : ' + ${result.getRight()}"></td>
                                </tr>
                                <tr class="bg-warning">
                                    <td>
                                        <span th:text="${result.getLeft().toLocalDate()}"/><br/>
                                        <span th:text="${result.getLeft().toLocalTime()}"/>
                                    </td>
                                    <td th:text="${result.getMiddle()+'->'+formattedResult.get(__${resultStat.index+1}__).getMiddle()}"></td>
                                    <td></td>
                                </tr>
                            </div>

                    </div>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>